* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
}

h1 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 4rem;
	font-weight: 800;
}

ul {
	list-style: none;
}

ul > li {
	display: inline;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	margin-left: 30px;
	margin-right: 30px;
}

/* Underline Animation on hover */
.item {
	position: relative;
}

.item:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 3px;
	bottom: -3px;
	left: 0;
	background-color: black;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.item:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.active {
	border-bottom: 3px solid black;
}

img {
	width: 100%;
}

/* Hide all children */
.our-work-img-wrapper > * {
	display: none;
}

/* Show image */
.our-work-img-wrapper .image-active {
	display: block;
	animation: fadein 3s;
}
/* Media query for Screen size only between 0px to 767px */
@media screen and (max-width: 767px) {
	.row .col-md-4:not(:last-child) {
		margin-bottom: 10px;
	}
}

/* For fadein animation */
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
